<nav>
    <ol class="breadcrumb panel panel-default">
        <li><a href="" [routerLink]="['/dashboard']">Patients</a></li>
        <li class="active" *ngIf="patient">{{patient.firstName}} {{patient.lastName}}</li>
    </ol>
</nav>

<div class="panel panel-default" *ngIf="patient">
    <div class="panel-heading">
        {{patient.firstName + " " + patient.lastName}}
    </div>

    <div class="panel-body">
        <div *ngFor='let form of forms | formFilter:patient.id'>
            <a *ngIf='form.formTypeId < 100' [routerLink]="['/form-' + form.formTypeId + '-edit', form.id]">
                {{form.formTypeName}} : {{form.formDate | date:'fullDate'}}
            </a>   
            <a *ngIf='form.formTypeId >= 100' [routerLink]="['/form-x-edit', form.formTypeId, form.id]">
                {{form.formTypeName}} : {{form.formDate | date:'fullDate'}}
            </a>          
        </div>

        <div *ngIf='!(forms && forms.length)'>No records</div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>

        <span *ngFor='let formType of formTypes | formTypeFilter:1:4'>
            <a  class="btn btn-primary" (click)="onAdd(formType.formTypeId)">
                <i class="glyphicon glyphicon-plus"></i> {{noSoap(formType.formTypeName)}}
            </a>
        </span>        

        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                <i class="glyphicon glyphicon-plus"></i> Templates <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" (click)="onAdd(100)">Blank Note</a></li>
                <li class="divider dropdown-divider"></li>
                <li *ngFor='let formType of formTypes | formTypeFilter:101:123' role="menuitem">
                    <a class="dropdown-item"(click)="onAdd(formType.formTypeId)">{{formType.formTypeName}}</a>
                </li>                
            </ul>
        </div>
    </div>     
</div>