<div *ngIf="form" class="printPreview">
    <div class="row">
        <div class="col-xs-2 h4label"><label>Date:</label></div>
        <div class="col-xs-10"><h4>{{form.formDate | date:'fullDate'}}</h4></div>
    </div>

    <div class="row">
        <div class="col-xs-2 h4label"><label>Patient Name:</label></div>
        <div class="col-xs-10" *ngIf="patient"><h4>{{patient.lastName}}, {{patient.firstName}}</h4></div>
    </div>    

    <label class="subHeader">Subjective:</label>

    <div *ngIf="getAnswers(form.questions.slice(0, 35)) || form.questions[332].checked" class="section">
        <label>Pain:</label> {{getAnswers(form.questions.slice(0, 34).concat(form.questions.slice(332, 333), form.questions.slice(34, 35)))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(35, 60))" class="section">
        <label>Function:</label> {{getAnswers(form.questions.slice(35, 60))}}
    </div>

    <label class="subHeader">Objective:</label>

    <div *ngIf="form.questions[60].checked" class="section">
        <label>{{form.questions[60].question}}</label> {{form.questions[60].answer}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(61, 86))" class="section">
        <label>STM/MFR:</label>

        <span *ngIf="getAnswers(form.questions.slice(61, 64))">
            <span *ngIf="form.questions[61].checked">{{form.questions[61].question}}</span><span *ngIf="getAnswers(form.questions.slice(62, 64))"> ({{getAnswers(form.questions.slice(62, 64))}})</span><span *ngIf="getAnswers(form.questions.slice(65, 86))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(64, 67))">
            <span *ngIf="form.questions[64].checked">{{form.questions[64].question}}</span><span *ngIf="getAnswers(form.questions.slice(65, 67))"> ({{getAnswers(form.questions.slice(65, 67))}})</span><span *ngIf="getAnswers(form.questions.slice(67, 86))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(67, 70))">
            <span *ngIf="form.questions[67].checked">{{form.questions[67].question}}</span><span *ngIf="getAnswers(form.questions.slice(68, 70))"> ({{getAnswers(form.questions.slice(68, 70))}})</span><span *ngIf="getAnswers(form.questions.slice(70, 86))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(70, 73))">
            <span *ngIf="form.questions[70].checked">{{form.questions[70].question}}</span><span *ngIf="getAnswers(form.questions.slice(71, 73))"> ({{getAnswers(form.questions.slice(71, 73))}})</span><span *ngIf="getAnswers(form.questions.slice(73, 86))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(73, 76))">
            <span *ngIf="form.questions[73].checked">{{form.questions[73].question}}</span><span *ngIf="getAnswers(form.questions.slice(74, 76))"> ({{getAnswers(form.questions.slice(74, 76))}})</span><span *ngIf="getAnswers(form.questions.slice(76, 86))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(76, 79))">
            <span *ngIf="form.questions[76].checked">{{form.questions[76].question}}</span><span *ngIf="getAnswers(form.questions.slice(77, 79))"> ({{getAnswers(form.questions.slice(77, 79))}})</span><span *ngIf="getAnswers(form.questions.slice(79, 86))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(79, 82))">
            <span *ngIf="form.questions[79].checked">{{form.questions[79].question}}</span><span *ngIf="getAnswers(form.questions.slice(80, 82))"> ({{getAnswers(form.questions.slice(80, 82))}})</span><span *ngIf="getAnswers(form.questions.slice(82, 86))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(82, 85))">
            <span *ngIf="form.questions[82].checked">{{form.questions[82].question}}</span><span *ngIf="getAnswers(form.questions.slice(83, 85))"> ({{getAnswers(form.questions.slice(83, 85))}})</span><span *ngIf="getAnswers(form.questions.slice(82, 86))">,</span>
        </span>

        <span *ngIf="form.questions[85].answer" class="multiline">{{form.questions[85].answer}}</span>
    </div>
    
    <div *ngIf="getAnswers(form.questions.slice(61, 86))" class="section">
        <label *ngIf="getAnswers(form.questions.slice(86, 113)) || form.questions[113].answer">NMT (MTrP/ischaemic bands release):</label>

        <span *ngIf="getAnswers(form.questions.slice(86, 89))">
            <span *ngIf="form.questions[86].checked">{{form.questions[86].question}}</span><span *ngIf="getAnswers(form.questions.slice(87, 89))"> ({{getAnswers(form.questions.slice(87, 89))}})</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(89, 92))">
            <span *ngIf="form.questions[89].checked">{{form.questions[89].question}}</span><span *ngIf="getAnswers(form.questions.slice(90, 92))"> ({{getAnswers(form.questions.slice(90, 92))}})</span><span *ngIf="getAnswers(form.questions.slice(92, 113))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(92, 95))">
            <span *ngIf="form.questions[92].checked">{{form.questions[92].question}}</span><span *ngIf="getAnswers(form.questions.slice(93, 95))"> ({{getAnswers(form.questions.slice(93, 95))}})</span><span *ngIf="getAnswers(form.questions.slice(95, 113))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(95, 98))">
            <span *ngIf="form.questions[95].checked">{{form.questions[95].question}}</span><span *ngIf="getAnswers(form.questions.slice(96, 98))"> ({{getAnswers(form.questions.slice(96, 98))}})</span><span *ngIf="getAnswers(form.questions.slice(98, 113))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(98, 101))">
            <span *ngIf="form.questions[98].checked">{{form.questions[98].question}}</span><span *ngIf="getAnswers(form.questions.slice(99, 101))"> ({{getAnswers(form.questions.slice(99, 101))}})</span><span *ngIf="getAnswers(form.questions.slice(101, 113))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(101, 104))">
            <span *ngIf="form.questions[101].checked">{{form.questions[101].question}}</span><span *ngIf="getAnswers(form.questions.slice(102, 104))"> ({{getAnswers(form.questions.slice(102, 104))}})</span><span *ngIf="getAnswers(form.questions.slice(104, 113))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(104, 107))">
            <span *ngIf="form.questions[104].checked">{{form.questions[104].question}}</span><span *ngIf="getAnswers(form.questions.slice(105, 107))"> ({{getAnswers(form.questions.slice(105, 107))}})</span><span *ngIf="getAnswers(form.questions.slice(107, 113))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(107, 110))">
            <span *ngIf="form.questions[107].checked">{{form.questions[107].question}}</span><span *ngIf="getAnswers(form.questions.slice(108, 110))"> ({{getAnswers(form.questions.slice(108, 110))}})</span><span *ngIf="getAnswers(form.questions.slice(110, 113))">,</span>
        </span>

        <span *ngIf="getAnswers(form.questions.slice(110, 113))">
            <span *ngIf="form.questions[110].checked">{{form.questions[110].question}}</span><span *ngIf="getAnswers(form.questions.slice(111, 113))"> ({{getAnswers(form.questions.slice(111, 113))}})</span>
        </span>

        <span *ngIf="form.questions[113].answer" class="multiline">{{form.questions[113].answer}}</span>
    </div>

    <div *ngIf="getAnswers(form.questions.slice(114, 119))" class="section">
        <label>Manual Stretching:</label>
        <span *ngIf="form.questions[114].checked">{{form.questions[114].question}}</span><span *ngIf="form.questions[114].checked && getAnswers(form.questions.slice(115, 119))">,</span>        
        <span *ngIf="getAnswers(form.questions.slice(115, 118))"><span *ngIf="form.questions[115].checked">{{form.questions[115].question}}</span><span *ngIf="getAnswers(form.questions.slice(116, 118))"> ({{getAnswers(form.questions.slice(116, 118))}})</span></span><span *ngIf="getAnswers(form.questions.slice(115, 118)) && form.questions[118].answer">,</span>
        <span *ngIf="form.questions[118].answer" class="multiline">{{form.questions[118].answer}}</span>
    </div>
    <!-- Manual L-P traction -->
    <div *ngIf="getAnswers(form.questions.slice(119, 123))" class="section">
        <label>{{form.questions[119].question}}:</label> {{getAnswers(form.questions.slice(120, 123))}}
    </div>
    <!-- “Global stretch” -->
    <div *ngIf="getAnswers(form.questions.slice(123, 131))" class="section">
        <label *ngIf="form.questions[123].checked">{{form.questions[123].question}}:</label>
        <span *ngIf="form.questions[124].checked">{{form.questions[124].question}}</span>      
        <span *ngIf="getAnswers(form.questions.slice(125, 127))">({{getAnswers(form.questions.slice(125, 127))}})</span><span *ngIf="getAnswers(form.questions.slice(124, 127)) && getAnswers(form.questions.slice(127, 131))">,</span>
        <span *ngIf="form.questions[127].checked">{{form.questions[127].question}}</span>      
        <span *ngIf="getAnswers(form.questions.slice(128, 130))">({{getAnswers(form.questions.slice(128, 130))}})</span><span *ngIf="getAnswers(form.questions.slice(124, 130)) && form.questions[130].answer">,</span>
        <span *ngIf="form.questions[130].answer" class="multiline">{{form.questions[130].answer}}</span>
    </div>

    <div *ngIf="getAnswers(form.questions.slice(131, 149))" class="section">
        <label>ROM:</label> {{getAnswers(form.questions.slice(131, 149))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(149, 170))" class="section">
        <label>Joint mobilizations:</label>
        {{getAnswers(form.questions.slice(149, 157))}}
        <span *ngIf="getAnswers(form.questions.slice(157, 159))">({{getAnswers(form.questions.slice(157, 159))}})</span><span *ngIf="getAnswers(form.questions.slice(149, 159)) || getAnswers(form.questions.slice(159, 170))">,</span>
        {{getAnswers(form.questions.slice(159, 162))}}
        <span *ngIf="getAnswers(form.questions.slice(162, 164))">({{getAnswers(form.questions.slice(162, 164))}})</span><span *ngIf="getAnswers(form.questions.slice(149, 164)) || getAnswers(form.questions.slice(164, 170))">,</span>
        {{getAnswers(form.questions.slice(164, 166))}}
        <span *ngIf="getAnswers(form.questions.slice(166, 168))">({{getAnswers(form.questions.slice(166, 168))}})</span><span *ngIf="getAnswers(form.questions.slice(149, 168)) || getAnswers(form.questions.slice(168, 170))">,</span>
        {{getAnswers(form.questions.slice(168, 170))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(170, 183))" class="section">
        <label>MET:</label> {{getAnswers(form.questions.slice(170, 183))}}
    </div>
    
    <div *ngIf="getAnswers(form.questions.slice(183, 201))" class="section">
        <label>NM Re-education:</label> {{getAnswers(form.questions.slice(183, 201))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(333, 356))" class="section">
        <label>Therapeutic exercises:</label> {{getAnswers(form.questions.slice(333, 338))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(201, 213))" class="section">
        <label>Kinetic/functional activities:</label> {{getAnswers(form.questions.slice(201, 213))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(213, 225))" class="section">
        <label>Patient education:</label> {{getAnswers(form.questions.slice(213, 225))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(225, 237))" class="section">
        <label>ULRASOUND:</label> {{getAnswers(form.questions.slice(225, 237))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(237, 241))" class="section">
        <label>EStim:</label> {{getAnswers(form.questions.slice(237, 241))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(241, 245))" class="section">
        <label>MHP:</label> {{getAnswers(form.questions.slice(241, 245))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(245, 249))" class="section">
        <label>Mechanical cx traction:</label> {{getAnswers(form.questions.slice(245, 249))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(249, 254))" class="section">
        <label>Modalities:</label> {{getAnswers(form.questions.slice(249, 254))}}
    </div>
    
    <label class="subHeader">Assessment:</label>
    
    <div *ngIf="getAnswers(form.questions.slice(254, 278))">
        {{getAnswers(form.questions.slice(254, 278))}}
    </div>
    
    <label class="subHeader">Plan:</label>
    
    <div *ngIf="getAnswers(form.questions.slice(278, 312))">
        {{getAnswers(form.questions.slice(278, 312))}}
    </div>

    <label class="signature">Natalia Gerachenko, LPT, MPT, BS, CLT</label>
</div>