<div *ngIf="form" class="printPreview">
    <div class="row">
        <div class="col-xs-2 h4label"><label>Date:</label></div>
        <div class="col-xs-10"><h4>{{form.formDate | date:'fullDate'}}</h4></div>
    </div>

    <div class="row">
        <div class="col-xs-2 h4label"><label>Patient Name:</label></div>
        <div class="col-xs-10" *ngIf="patient"><h4>{{patient.lastName}}, {{patient.firstName}}</h4></div>
    </div>    

    <label class="subHeader">Subjective:</label>

    <div *ngIf="getAnswers(form.questions.slice(0, 37)) || form.questions[444].checked" class="section">
        <label>Pain:</label> {{getAnswers(form.questions.slice(0, 36).concat(form.questions.slice(444, 445), form.questions.slice(36, 37)))}}
    </div>    

    <div *ngIf="getAnswers(form.questions.slice(37, 69))" class="section">
        <label>Function:</label> {{getAnswers(form.questions.slice(37, 69))}}
    </div> 

    <label class="subHeader">Objective:</label>

    <div *ngIf="form.questions[69].checked" class="section">
        <label>{{form.questions[69].question}}</label> {{form.questions[69].answer}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(70, 95))" class="section">
        <label>STM/MFR:</label> {{getAnswers(form.questions.slice(70, 95))}}
    </div> 

    <div *ngIf="getAnswers(form.questions.slice(95, 169))" class="section">
        <label>NMT (MTrP/ischaemic bands release):</label> {{getAnswers(form.questions.slice(95, 169))}}
    </div> 

    <div *ngIf="getAnswers(form.questions.slice(169, 177))" class="section">
        <label>Manual Stretching:</label>
        <span *ngIf="form.questions[169].checked">{{form.questions[169].question}}</span>
        <span *ngIf="getAnswers(form.questions.slice(170, 173))">
            ({{getAnswers(form.questions.slice(170, 173))}})
        </span>
        <span>{{getAnswers(form.questions.slice(173, 177))}}</span>
    </div>

    <div *ngIf="getAnswers(form.questions.slice(177, 215))" class="section">
        <label>ROM:</label> {{getAnswers(form.questions.slice(177, 215))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(215, 266))" class="section">
        <label>Joint mobilizations:</label> {{getAnswers(form.questions.slice(215, 266))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(266, 286))" class="section">
        <label>NM Re-education:</label> {{getAnswers(form.questions.slice(266, 286))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(286, 318))" class="section">
        <label>Therapeutic exercises:</label> {{getAnswers(form.questions.slice(286, 318))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(318, 332))" class="section">
        <label>Kinetic/functional activities:</label> {{getAnswers(form.questions.slice(318, 332))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(332, 345))" class="section">
        <label>Patient education:</label> {{getAnswers(form.questions.slice(332, 345))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(345, 357))" class="section">
        <label>ULRASOUND:</label> {{getAnswers(form.questions.slice(345, 357))}}
    </div>

    <div *ngIf="form.questions[357].answer" class="section">
        <label>Phonophoresis:</label> {{form.questions[357].answer}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(358, 367))" class="section">
        <label>MHP:</label> {{getAnswers(form.questions.slice(358, 367))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(367, 383))" class="section">
        <label>EStim:</label> {{getAnswers(form.questions.slice(367, 383))}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(383, 388))" class="section">
        <label>Modalities:</label> {{getAnswers(form.questions.slice(383, 388))}}
    </div>

    <div *ngIf="form.questions[445].answer" class="section">
        {{form.questions[445].answer}}
    </div>

    <div *ngIf="getAnswers(form.questions.slice(388, 412))" >
        <label class="subHeader">ASSESSMENT</label>    
        <div>{{getAnswers(form.questions.slice(388, 412))}}</div>
    </div>

    <div *ngIf="getAnswers(form.questions.slice(412, 444))" >
        <label class="subHeader">PLAN</label>    
        <div>{{getAnswers(form.questions.slice(412, 444))}}</div>
    </div>

    <label class="signature">Natalia Gerachenko, LPT, MPT, BS, CLT</label>
</div>