<form #inputForm="ngForm" novalidate
(ngSubmit)="saveForm()">

<nav>
    <ol class="breadcrumb panel panel-default">
        <li><a href="" [routerLink]="['/dashboard']">Patients</a></li>
        <li *ngIf="patient">
            <a href="" [routerLink]="['/patient', patient.id]">
                {{patient.firstName}} {{patient.lastName}}
            </a>
        </li>
        <li class="active" *ngIf="form">{{form.formTypeName}}</li>
    </ol>
</nav>

<div class="panel panel-default" *ngIf="form">
    <div class="panel-heading">
        {{form.formTypeName}}
    </div>

    <div class="panel-body">
        
        <div class="row">
            <div class="col-md-2">
                <label>Date:</label>
            </div>
            <div class="col-md-10 form-inline">
                <input type="text" name="formDate" [ngModel]="form.formDate | date:'shortDate'" 
                    (focus)="showDatePicker = true" class="form-control" readonly style="width:100px;" >
                <div *ngIf="showDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                    <datepicker name="formDatePicker"  [(ngModel)]="form.formDate" [showWeeks]="true"
                        (selectionDone)="showDatePicker = false"></datepicker>
                </div>                    
            </div>
        </div>    

        <div class="row">
            <div class="col-md-2 h4label">
                <label>Patient Name:</label>
            </div>
            <div class="col-md-10">
                <h4 *ngIf="patient">{{patient.lastName}}, {{patient.firstName}}</h4>
            </div>
        </div>
    </div>

    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-ok"></i> Save
        </button>
        <a class="btn btn-success" *ngIf="form.id > 0" (click)="cloneModal.show()">
            <i class="glyphicon glyphicon-plus"></i> Clone
        </a>
        <a class="btn btn-danger" *ngIf="form.id > 0" (click)="confirmModal.show()">
            <i class="glyphicon glyphicon-remove"></i> Delete
        </a>
        <a class="btn btn-default" *ngIf="form.id > 0" (click)="onPrint()">
            <i class="glyphicon glyphicon-print"></i> Print
        </a>
    </div>   

    <div class="panel-body">

        <label class="subHeader">Subjective:</label>

        <label class="section">Pain:</label>

        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(0, 36)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q36" 
                [(ngModel)]="form.questions[36].answer"></textarea>
        </div>

        <label class="section">Function:</label>

        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(37, 68)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q68" 
                [(ngModel)]="form.questions[68].answer"></textarea>
        </div>

        <label class="subHeader">Objective:</label>
        
        <div class="form-group">
            <label class="section">{{form.questions[69].question}}</label>

            <textarea class="form-control" rows="3" name="q69" 
                [(ngModel)]="form.questions[69].answer"></textarea>
        </div>

        <label class="section">STM/MFR:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(70, 82)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q94" [(ngModel)]="form.questions[94].answer"></textarea>
        </div>

        <label class="section">NMT (MTrP/ischaemic bands release):</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(95, 117)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q168" [(ngModel)]="form.questions[168].answer"></textarea>
        </div>

        <label class="section">Manual Stretching:</label>
        
        <div class="checkbox">
            <div class="group">
                <label><input type="checkbox" name="q169" [(ngModel)]="form.questions[169].checked"><span>{{form.questions[169].question}}</span></label>(
            </div>

            <div class="group">
                <label><input type="checkbox" name="q170" [(ngModel)]="form.questions[170].checked"><span>{{form.questions[170].question}}</span></label>
                <label><input type="checkbox" name="q171" [(ngModel)]="form.questions[171].checked"><span>{{form.questions[171].question}}</span></label>
                <label><input type="checkbox" name="q172" [(ngModel)]="form.questions[172].checked"><span>{{form.questions[172].question}}</span>)</label>
            </div>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q173" [(ngModel)]="form.questions[173].answer"></textarea>
        </div>

        <div class="checkbox">
            <div class="group">
                <label *ngFor="let question of form.questions.slice(174, 176)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q176" [(ngModel)]="form.questions[176].answer"></textarea>
        </div>

        <label class="section">ROM:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(177, 195)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q195" [(ngModel)]="form.questions[195].answer"></textarea>
        </div>

        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(196, 214)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q214" [(ngModel)]="form.questions[214].answer"></textarea>
        </div>

        <label class="section">Joint mobilizations:</label>

        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(215, 224)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q224" [(ngModel)]="form.questions[224].answer"></textarea>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(225, 229)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q229" [(ngModel)]="form.questions[229].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(230, 234)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q234" [(ngModel)]="form.questions[234].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(235, 237)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q237" [(ngModel)]="form.questions[237].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(238, 240)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q240" [(ngModel)]="form.questions[240].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(241, 245)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q245" [(ngModel)]="form.questions[245].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(246, 250)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q250" [(ngModel)]="form.questions[250].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(251, 254)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q254" [(ngModel)]="form.questions[254].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(255, 259)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q259" [(ngModel)]="form.questions[259].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label *ngFor="let question of form.questions.slice(260, 264)">
                    <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                    <span>{{question.question}}</span>
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q264" [(ngModel)]="form.questions[264].answer"/>
            </div>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q265" [(ngModel)]="form.questions[265].answer"></textarea>
        </div>

        <label class="section">NM Re-education:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(266, 285)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q285" [(ngModel)]="form.questions[285].answer"></textarea>
        </div>

        <label class="section">Therapeutic exercises:</label>

        <div class="checkbox" style="padding-bottom: 20px;">
            <label *ngFor="let question of form.questions.slice(286, 291)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q291" [(ngModel)]="form.questions[291].checked"><span>{{form.questions[291].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q292" [(ngModel)]="form.questions[292].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q293" [(ngModel)]="form.questions[293].checked"><span>{{form.questions[293].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q294" [(ngModel)]="form.questions[294].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q295" [(ngModel)]="form.questions[295].checked"><span>{{form.questions[295].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q296" [(ngModel)]="form.questions[296].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q297" [(ngModel)]="form.questions[297].checked"><span>{{form.questions[297].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q298" [(ngModel)]="form.questions[298].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q299" [(ngModel)]="form.questions[299].checked"><span>{{form.questions[299].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q300" [(ngModel)]="form.questions[300].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q301" [(ngModel)]="form.questions[301].checked"><span>{{form.questions[301].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q302" [(ngModel)]="form.questions[302].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q303" [(ngModel)]="form.questions[303].checked"><span>{{form.questions[303].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q304" [(ngModel)]="form.questions[304].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q305" [(ngModel)]="form.questions[305].checked"><span>{{form.questions[305].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q306" [(ngModel)]="form.questions[306].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q307" [(ngModel)]="form.questions[307].checked"><span>{{form.questions[307].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q308" [(ngModel)]="form.questions[308].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q309" [(ngModel)]="form.questions[309].checked"><span>{{form.questions[309].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q310" [(ngModel)]="form.questions[310].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q311" [(ngModel)]="form.questions[311].checked"><span>{{form.questions[311].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q312" [(ngModel)]="form.questions[312].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q313" [(ngModel)]="form.questions[313].checked"><span>{{form.questions[313].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q314" [(ngModel)]="form.questions[314].answer"/>
            </div>
        </div>

        <div class="checkbox row">
            <div class="col-md-5 group">
                <label><input type="checkbox" name="q315" [(ngModel)]="form.questions[315].checked"><span>{{form.questions[315].question}}</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" name="q316" [(ngModel)]="form.questions[316].answer"/>
            </div>
        </div>        

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q317" [(ngModel)]="form.questions[317].answer"></textarea>
        </div>

        <label class="section">Kinetic/functional activities:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(318, 331)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q331" [(ngModel)]="form.questions[331].answer"></textarea>
        </div>

        <label class="section">Patient education:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(332, 344)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q344" [(ngModel)]="form.questions[344].answer"></textarea>
        </div>

        <label class="section">ULRASOUND:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(345, 356)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q356" [(ngModel)]="form.questions[356].answer"></textarea>
        </div>

        <label class="section">Phonophoresis:</label>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q357" [(ngModel)]="form.questions[357].answer"></textarea>
        </div>

        <label class="section">MHP:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(358, 366)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q366" [(ngModel)]="form.questions[366].answer"></textarea>
        </div>

        <label class="section">EStim:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(367, 374)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q374" [(ngModel)]="form.questions[374].answer"></textarea>
        </div>

        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(375, 378)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q378" [(ngModel)]="form.questions[378].answer"></textarea>
        </div>

        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(379, 382)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q382" [(ngModel)]="form.questions[382].answer"></textarea>
        </div>


        <label class="section">Modalities:</label>
        
        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(383, 387)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q387" [(ngModel)]="form.questions[387].answer"></textarea>
        </div>

        <label class="subHeader">ASSESSMENT</label>

        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(388, 411)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q411" [(ngModel)]="form.questions[411].answer"></textarea>
        </div>

        <label class="subHeader">PLAN</label>

        <div class="checkbox">
            <label *ngFor="let question of form.questions.slice(412, 443)">
                <input type="checkbox" name="{{'q' + question.index}}" [(ngModel)]="question.checked"> 
                <span>{{question.question}}</span>
            </label>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="3" name="q443" [(ngModel)]="form.questions[443].answer"></textarea>
        </div>

    </div>

    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-ok"></i> Save
        </button>
        <a class="btn btn-success" *ngIf="form.id > 0" (click)="cloneModal.show()">
            <i class="glyphicon glyphicon-plus"></i> Clone
        </a>
        <a class="btn btn-danger" *ngIf="form.id > 0" (click)="confirmModal.show()">
            <i class="glyphicon glyphicon-remove"></i> Delete
        </a>
        <a class="btn btn-default" *ngIf="form.id > 0" (click)="onPrint()">
            <i class="glyphicon glyphicon-print"></i> Print
        </a>
    </div>
</div>

<div class="modal fade" bsModal #confirmModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Confirm</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="confirmModal.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this form?                    
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" (click)="deleteForm()">Yes</a>
                <a class="btn btn-default" (click)="confirmModal.hide()">No</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #cloneModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Clone</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cloneModal.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <label>Date:</label>
                    </div>
                    <div class="col-md-10 form-inline">
                        <input type="text" name="clonedDate" [ngModel]="clonedDate | date:'shortDate'" 
                            (focus)="showClonedDatePicker = true" class="form-control" readonly style="width:100px;" >
                        <div *ngIf="showClonedDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                            <datepicker name="clonedDatePicker"  [(ngModel)]="clonedDate" [showWeeks]="true"
                                (selectionDone)="showClonedDatePicker = false"></datepicker>
                        </div>                    
                    </div>
                </div>     
                <br> 
                <div class="row">
                    <div class="col-md-2">
                        <label>Patient:</label>
                    </div>
                    <div class="col-md-10">
                        <input [(ngModel)]="clonedPatientName" name="clonedPatientName"
                            [typeahead]="patientNames" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" (click)="cloneForm();cloneModal.hide();" *ngIf="getPatientId(clonedPatientName, patients)">Clone</a>
                <a class="btn btn-default" (click)="cloneModal.hide()">Cancel</a>
            </div>
        </div>
    </div>
</div>

<!--<pre>
    <div><label>model: </label> {{form | json}}</div>
    <div><label>input: </label> {{inputForm.value | json}}</div>
</pre>-->
</form>

